  /* Style for our header texts
  * --------------------------------------- */
  h1{
    font-size: 80px;
    font-family: 'Raleway', sans-serif;
    color:#4A708B;
    margin:0;
    padding:0;

  }
  .intro p{
    color: #9AC0CD;
    font-family: 'Raleway', sans-serif;


  }



  /* Centered texts in each section
  * --------------------------------------- */
  .section{
    text-align:center;
  }

  /* Fixed header and footer.
  * --------------------------------------- */
  #header, #footer{
    position:fixed;
    height: 50px;
    display:block;
    width: 100%;
    background: rgba(255, 255, 255, 0.8);
    z-index:9;
    text-align:center;
    color: #f2f2f2;
  
  }

  #header{
    top:0px;
      padding: 20px 0 0 0;
  }
  #footer{
    bottom:0px;
    vertical-align: middle;
    text-align: center;
  }


  /* Bottom menu
  * --------------------------------------- */
  #infoMenu {
    bottom: 80px;
  }
  #infoMenu li a {
    color: #fff;
    z-index: 999;
  }

  li{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;
    color: gray;
  }
  
img{
  width: 100%;
  height: 100%

}

div.studio{
  position: absolute;
  
  width: 400px;
  height: 300px;
  text-align: left;
  margin-left: 50px;

 
 margin-top: 120px;


}
h1.studio{
  color: white;
  padding-bottom:none;
  margin-bottom: -30px;

}
p.skillz{
  color: white;
}
hr.studio{
  width: 400px;
  background-color: white;
  padding:none;
}


div.intro i{
  color: lightgray;
 margin-top:30px;
 -webkit-animation: bounceInDown 2s; /* Chrome, Safari, Opera */
    animation: bounceInDown 2s;
 
}

@-webkit-keyframes bounceInDown  
 {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}

@keyframes bounceInDown {
  0%, 60%, 75%, 90%, 100% {
    -webkit-transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
            transition-timing-function: cubic-bezier(0.215, 0.610, 0.355, 1.000);
  }

  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, -3000px, 0);
            transform: translate3d(0, -3000px, 0);
  }

  60% {
    opacity: 1;
    -webkit-transform: translate3d(0, 25px, 0);
            transform: translate3d(0, 25px, 0);
  }

  75% {
    -webkit-transform: translate3d(0, -10px, 0);
            transform: translate3d(0, -10px, 0);
  }

  90% {
    -webkit-transform: translate3d(0, 5px, 0);
            transform: translate3d(0, 5px, 0);
  }

  100% {
    -webkit-transform: none;
            transform: none;
  }
}
#footer i{

  vertical-align: middle;
  text-align: center;
  margin-top: 10px;




}


