div.mainGDcontent{
	width:1120px;
	height: 630px;
	background-color: white;
	background-position: relative;
	margin-top: 50px;
	vertical-align: middle;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	overflow: auto;

}

div.mainGDcontent p{
	color:darkgray;
    font-family: 'Raleway', sans-serif;
    text-align: center;
    vertical-align: middle;
    
}

div.devinfo{
	width:600px;
	vertical-align: middle;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: auto;
	margin-top: auto;
}